@mixin clear-button {
  box-shadow: none;
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  margin: 0;
}

@mixin clear-input {
  font-family: inherit;
  font-size: inherit;
  background: transparent;
  background-image: none;
  box-shadow: none;
  border: none;
  border-radius: none;
  padding: 0;
  margin: 0;
  appearance: none;
  outline: none;
}

@mixin clear-link {
  text-decoration: none;
  color: inherit;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
}

@mixin reset-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin reset-li {
  margin: 0;
  padding: 0;
}

.header-nav {
  background-color: #4b565e;
}

.content-container {
  max-width: 1320px;
  margin: 0 auto;
}

.header-nav__nav-wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 80px;
}

.header-nav__nav-left {
  display: flex;
  align-items: center;
  width: 855px;
}

.header-nav__nav-logo {
  height: 40px;
  width: 60px;
  margin-right: 40px;
}

.header-nav__nav-list {
  @include reset-ul;

  display: flex;
}

.header-nav__nav-item {
  @include reset-li;

  margin-right: 24px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.button-js {
  @include clear-button;

  padding: 5px;
  gap: 5px;
  border-radius: 54px 54px 54px 54px;
  border-width: 2px;
  background-color: #4b565e;
  color: #f9fafb;
  border-color: #f9fafb;
  border-style: solid;
  font-size: 13px;
  font-weight: 600;
  margin-right: 15px;
}

.header-nav__nav-right {
  display: flex;
  align-items: center;
}

.header-nav__nav-phone {
  padding-right: 10px;
}

.header-nav__nav-phone-number {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.header-nav__nav-heart {
  margin-left: 40px;
}

.header-nav__nav-cart {
  margin-left: 40px;
  display: flex;
  border: 1px solid #f0ba4e;
  border-radius: 50px;
  background-color: #4b565e;
  align-items: center;
}

.header-nav__nav-cart-img {
  width: 28px;
  height: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.header-nav__nav-empty {
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #f9fafb;
}

.header-menu {
  background-color: #f0ba4e;
}

.header-menu__menu-wrp {
  display: flex;
  justify-content: space-between;
  color: #3c3c3b;
  height: 43px;
}

.header-menu__menu-left {
  display: flex;
  align-items: center;
}

.header-menu__menu-burger {
  width: 16px;
  height: 24px;
  margin-right: 10px;
}

.header-menu__menu-list {
  @include reset-ul;

  display: flex;
  gap: 24px;
}

.header-menu__item {
  @include reset-li;

  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
}

.header-menu__menu-right {
  display: flex;
}

.header-menu__menu-form {
  display: flex;
  align-items: center;
}

.header-menu__menu-input {
  display: block;
  align-items: center;
  width: 400px;
  height: 25px;
  border: none;
  border-bottom: 1px solid #3c3c3b;
  background-color: #f0ba4e;
  outline: none;
}

.header-menu__menu-search {
  margin-left: -30px;
}

.header-menu__menu-location {
  display: flex;
  align-items: center;
}

.header-menu__menu-location-pin {
  height: 12px;
  width: 12px;
  margin-left: 25px;
  margin-right: 4px;
}

.header-menu__menu-location-city {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: #ffffff;
}
