<h1>Create ToDo Form</h1>

<div style="margin: 30px 30px 30px 0">
  <form
    style="display: flex; flex-direction: column"
    [formGroup]="form"
    (ngSubmit)="submitForm()"
  >
    <p>ТЕКСТ ЗАДАЧA:</p>
    <input type="text" class="form-input" formControlName="title" />
    <div
      *ngIf="form.controls['title'].invalid && (form.controls['title'].dirty || form.controls['title'].touched)"
      class="alert"
    >
      <div *ngIf="form.controls['title'].errors">Мало символов в имени</div>
    </div>

    <p>АВТОР ЗАДАЧИ:</p>
    <input type="text" class="form-input" formControlName="userId" />

    <p>ЗАДАЧА ЗАВЕРШЕНА:</p>
    <input type="text" class="form-input" formControlName="completed" />
    <div
      *ngIf="form.controls['completed'].invalid && (form.controls['completed'].dirty || form.controls['completed'].touched)"
      class="alert"
    >
      <div *ngIf="form.controls['completed'].errors">Ответ некорректен</div>
    </div>

    <button style="width: 150px; margin-top: 20px" [disabled]="form.invalid">
      Create ToDo
    </button>
  </form>
</div>
