.form-input {
  width: 200px;
}

.alert {
  color: red;
}

.mat-form {
  width: 250px;
  margin: 30px 30px 30px 0;
}

.create-form {
  display: flex;
  flex-direction: column;
}

.btn-create {
  width: 250px;
  margin-top: 20px;
}
