<div class="user-list-container">
  <div class="users-list-title">
    СПИСОК ПОЛЬЗОВАТЕЛЕЙ
    <button
      mat-mini-fab
      color="primary"
      class="buttonCreate"
      (click)="openDialog()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="users-list">
    <div *ngFor="let user of users$ | async">
      <app-user-card
        [user]="user"
        (deleteUser)="deleteUser(user.id)"
        (editUser)="editUser($event)"
      ></app-user-card>
    </div>
  </div>
</div>
