.user-list-container {
  max-width: 1320px;
  margin: 0 auto;
}

.users-list-title {
  font-size: 25px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}

.users-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.buttonCreate {
  position: fixed;
  bottom: 3%;
  right: 3%;
  scale: 1.5;
}
