<div class="todos-list__card">
  <h1>ТЕКСТ ЗАДАЧИ</h1>
  <div class="todos-card-text">
    {{ todo.title }}
  </div>
  <p>АВТОР ЗАДАЧИ</p>
  <div class="todos-card-text">
    {{ todo.userId }}
  </div>

  <p>ЗАДАЧА ЗАВЕРШЕНА</p>
  <div class="todos-card-text">
    {{ todo.completed === true ? "ДА" : "НЕТ" }}
  </div>

  <button class="todo-card__button" (click)="openDeleteTodoDialog()">
    УДАЛИТЬ ЗАДАЧУ
  </button>
  <button class="todo-card__button" (click)="openDialog()">
    РЕДАКТИРОВАТЬ ЗАДАЧУ
  </button>
</div>
