<h2>ПОЛЬЗОВАТЕЛЬ: {{ data.user.name }}</h2>

<form
  style="display: flex; flex-direction: column; padding: 100px"
  [formGroup]="form"
>
  <mat-form-field>
    <mat-label>Имя пользователя</mat-label>
    <input matInput formControlName="name" />
    <mat-error>Исправьте имя пользователя</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Введите вашу почту</mat-label>
    <input matInput formControlName="email" />
    <mat-error>Исправьте имя пользователя</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Адрес сайта</mat-label>
    <input matInput formControlName="website" />
    <mat-error>Исправьте имя пользователя</mat-error>
  </mat-form-field>

  <mat-form-field formGroupName="company">
    <mat-label>Имя компании</mat-label>
    <input matInput formControlName="name" />
    <mat-error>Исправьте имя пользователя</mat-error>
  </mat-form-field>

  <button
    mat-raised-button
    [mat-dialog-close]="userWithUpdatedFields"
    type="submit"
    style="width: 250px; margin-top: 20px"
    [disabled]="form.invalid"
  >
    <mat-icon>person add</mat-icon>
    РЕДАКТИРОВАТЬ ПОЛЬЗОВАТЕЛЯ
  </button>
</form>
